@model proy_caguamanta.Models.Empleado
@{
    ViewData["Title"] = "Crear Nuevo Empleado";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Crear">
    <div class="container">
        <div class="row mt-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-12 p-5">

                <div class="row mt-2">
                    <div class=" col-10">
                        <label asp-for="Nombre" class="form-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=" col-10">
                        <label asp-for="Apellido" class="form-label"></label>
                        <input asp-for="Apellido" class="form-control" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=" col-10">
                        <label asp-for="Correo" class="form-label"></label>
                        <input asp-for="Correo" class="form-control" />
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=" col-10">
                        <label asp-for="Contrasena" class="form-label"></label>
                        <input asp-for="Contrasena" class="form-control" />
                        <span asp-validation-for="Contrasena" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class=" col-10">
                        <label asp-for="Telefono" class="form-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=" col-10">
                        <label asp-for="Direccion" class="form-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=" col-10">
                        <label asp-for="Puesto" class="form-label"></label>
                        <input asp-for="Puesto" class="form-control" />
                        <span asp-validation-for="Puesto" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=" col-10">
                        <label asp-for="Estado" class="form-label"></label>
                        <input asp-for="Estado" class="form-control" />
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mt-5 p-5">
                    <div class=" col-4">
                        <button class="btn btn-secondary text-white form-control" type="submit">Guardar &nbsp;</button>
                    </div>
                </div>
            </ div>
        </div>
    </div>
</form>
