@model proy_caguamanta.Models.DetalleCompra
@{
    ViewData["Title"] = "Crear Multiples Detalle de Compra";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="CrearMulti">
    <div class="container">
        <div class="row mt-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-10">
                @for (int i = 0; i <= 2; i++)
                {
                    <div class="container border mt-5 p-4">

                        <div class="row mt-2">
                            <div class=" col-10">
                                <label asp-for="CompraId" class="form-label"></label>
                                <input asp-for="CompraId" class="form-control" />
                                <span asp-validation-for="CompraId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class=" col-10">
                                <label asp-for="MaterialId" class="form-label"></label>
                                <input asp-for="MaterialId" class="form-control" />
                                <span asp-validation-for="MaterialId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class=" col-10">
                                <label asp-for="PrecioUnidad" class="form-label"></label>
                                <input asp-for="PrecioUnidad" class="form-control" />
                                <span asp-validation-for="PrecioUnidad" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class=" col-10">
                                <label asp-for="Cantidad" class="form-label"></label>
                                <input asp-for="Cantidad" class="form-control" />
                                <span asp-validation-for="Cantidad" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class=" col-10">
                                <label asp-for="Importe" class="form-label"></label>
                                <input asp-for="Importe" class="form-control" />
                                <span asp-validation-for="Importe" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                }

                <div class="row mt-5">
                    <div class=" col-4">
                        <button class="btn btn-secondary text-white form-control" type="submit">Guardar &nbsp;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
