@model proy_caguamanta.Models.DetalleCompra
@{
    ViewData["Title"] = "Editar Detalle de compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Editar Detalle de compra</h1>

<form method="post" asp-action="Editar">
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row mt-2">
                    <div class=" col-10">
                        <label asp-for="IdCompra" class="form-label"></label>
                        <input asp-for="IdCompra" class="form-control" />
                        <span asp-validation-for="IdCompra" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class=" col-10">
                        <label asp-for="IdProducto" class="form-label"></label>
                        <input asp-for="IdProducto" class="form-control" />
                        <span asp-validation-for="IdProducto" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=" col-10">
                        <label asp-for="PrecioUnidad" class="form-label"></label>
                        <input asp-for="PrecioUnidad" class="form-control" />
                        <span asp-validation-for="PrecioUnidad" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=" col-10">
                        <label asp-for="Cantidad" class="form-label"></label>
                        <input asp-for="Cantidad" class="form-control" />
                        <span asp-validation-for="Cantidad" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=" col-10">
                        <label asp-for="Importe" class="form-label"></label>
                        <input asp-for="Importe" class="form-control" />
                        <span asp-validation-for="Importe" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class=" col-4">
                        <button class="btn btn-secondary text-white form-control" type="submit">Actualizar &nbsp;</button>

                        <button class="btn btn-secondary text-white form-control-lg" asp-action="Index"> Cancelar </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>