@model IEnumerable<proy_caguamanta.Models.Venta>
@{
	ViewData["Title"] = "Listado de Ventas";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="conteiner">
	<h1>Listado de Ventas</h1>
	<div class="row mt-4">
		<div class="col-3">
			<a class="btn btn-primary text-white form-control" asp-action="Crear">Agregar nuevo</a>
		</div>
	</div>