@model proy_caguamanta.Models.Compra
@{
    ViewData["Title"] = "Crear Nueva Compra";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Crear">
    <div class="container">
        <div class="row mt-5">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-12">

                <div class="row mt-2">
                    <div class=" col-10">
                        <label asp-for="FechaCompra" class="form-label"></label>
                        <input asp-for="FechaCompra" class="form-control" />
                        <span asp-validation-for="FechaCompra" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=" col-10">
                        <label asp-for="EmpleadoId" class="form-label"></label>
                        <input asp-for="EmpleadoId" class="form-control" />
                        <span asp-validation-for="EmpleadoId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=" col-10">
                        <label asp-for="ProveedorId" class="form-label"></label>
                        <input asp-for="ProveedorId" class="form-control" />
                        <span asp-validation-for="ProveedorId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class=" col-10">
                        <label asp-for="Importe" class="form-label"></label>
                        <input asp-for="Importe" class="form-control" />
                        <span asp-validation-for="Importe" class="text-danger"></span>
                    </div>
                </div>



                <div class="row mt-5">
                    <div class=" col-4">
                        <button class="btn btn-secondary text-white form-control" type="submit">Guardar &nbsp;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
