@model proy_caguamanta.Models.Compra
@{
	ViewData["Title"] = "Eliminar compra";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center m-5">Eliminar compra</h1>

<form method="post" asp-action="Eliminar">
	<div class="container">
		<p>¿Estas seguro de eliminar esta compra?</p>
		<hr color="gray" />
		<p>
			<strong>Fecha de Compra</strong>: @Model.FechaCompra
		</p>
		<p>
			<strong>IdEmpleado</strong>: @Model.EmpleadoId
		</p>
		<p>
			<strong>Proveedor</strong>: @Model.ProveedorId
		</p>
		<p>
			<strong>Importe</strong>: @Model.Importe
		</p>
		<button class="btn btn-danger" type="submit">Eliminar</button>
		<button class="btn btn-secondary" asp-action="Index">Cancelar</button>
	</div>
</form>